.align-middle-center{
  min-width: 800px;
  min-height: 750px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.ant-layout-ceiling {
  height: 100%;
}

.ant-layout-ceiling {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  background-color: #242736;
  color: #ddd;
}

.ant-layout-ceiling .right {
  float: right;
}

.ant-layout-ceiling ul li {
  display: inline-block;
  margin: 0 4px;
}

.ant-layout-ceiling .ant-layout-wrapper {
  padding: 0 50px;
}

.ant-layout-ceiling .ant-layout-header {
  background: #fff;
  height: 64px;
  border-bottom: 1px solid #d9d9d9;
}

.ant-layout-ceiling .ant-layout-logo {
  width: 230px;
  height: 30px;
  margin: 16px 28px 16px 0;
  float: left;
}